.jumbotron {
	background-image: url(../images/caro-4.jpg);
    background-size:cover; 
    height: 100%;
    text-align: center;
}

.jumbotron .display-4 {
    color: black;
    margin-top: 250px;
}

.section_title
{
	font-size: 12px;
	font-weight: 200;
	color: #1b1b1b;
}
.section_subtitle
{
	font-size: 14px;
	font-weight: 400;
	color: #6c6a74;
	margin-top: 3px;
}
.cart_total_container
{
	margin-top: 42px;
	padding-left: 45px;
	padding-top: 20px;
	padding-right: 44px;
	padding-bottom: 19px;
	background: #f2f4f8;
}
.cart_total_container ul
{
	width: 100%;
}
.cart_total_container ul li
{
	width: 100%;
}
.cart_total_title
{
	font-size: 20px;
	font-weight: 500;
	color: #1b1b1b;
	line-height: 2;
}
.cart_total_value
{
	display: inline-block;
	font-size: 20px;
	font-weight: 500;
	color: #6c6a74;
	margin-top: 12px;
}
.checkout_button
{
	width: 100%;
}